header.header {
  height: 7rem;
  width: 100%;
  position: relative;
}
header.header a.logo {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 2rem;
}

.header a.logo .logo_img svg {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
.header nav.nav {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
}
.avatar {
  position: absolute;
  border: none;
  background: none;
  right: 2rem;
  height: 6rem;
  width: 6rem;
}
.avatar:focus {
  outline-color: var(--text-primary);
}
.avatar .img {
  width: 100%;
  background: white;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}
.avatar ul.drop_down {
  position: relative;
  z-index: 3;
  right: 6rem;
  top: 1rem;
  width: 13rem;
  border-radius: 1rem;
  height: 20rem;
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: white;
  padding: 1rem;
  gap: 1rem;
  animation: opacityAnimate 0.4s ease-out;
}
@keyframes opacityAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.avatar ul.drop_down.active {
  display: flex;
}
.avatar ul.drop_down * {
  font-family: var(--text-font);
}
.avatar ul.drop_down p {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.avatar ul.drop_down li {
  width: 100%;
}
.avatar ul.drop_down li button {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 1rem;
  border: none;
  border-radius: 1rem;
  background: var(--text-primary);
  color: white;
  width: 100%;
}
.avatar ul.drop_down li button:hover {
  color: #000;
}
