header.header {
  height: 7rem;
  width: 100%;
  position: relative;
}

.header div.logo {
  position: absolute;
  left: 0;
  width: 5.6rem;
}
.header nav.nav {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
}
.header nav.nav ul.navbar_nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header nav.nav ul.navbar_nav li.nav_item a.nav_link {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 60px;
  color: var(--text-primary);
}
.header nav.nav ul.navbar_nav li.nav_item a.nav_link.login {
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  width: 7rem;
  text-align: center;
  justify-content: center;
  padding: 0.2rem;
}
.header nav.nav ul.navbar_nav li.nav_item a.nav_link.login span {
  position: absolute;
  width: 4rem;
  height: 0.4rem;
  border-radius: 8px;
  background: #2e36ff;
  top: 4.8rem;
  transition: 0.3s;
}
.header nav.nav ul.navbar_nav li.nav_item a.nav_link.login:hover span {
  width: 6rem;
}
